body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    font-family: Helvetica;
    font-size: medium;
    background-color: white;
    position: absolute;
    width: 100%;
    margin: 0;
}

.gms-button {
    margin-top: 30px
}

h2 {
    font-size: 20pt;
    margin: 100px 0 0 0;

}

.result {
    font-size: 20px;
    font-style: italic;
    margin: 30px;
}

.results-title {
    font-size: 20pt;
    margin-top: 100px;
}